[alias]
  br = branch
  co = checkout
  ci = commit
  di = diff
  st = status
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[user]
  email = zejun.wu@gmail.com
  name = watashi
